@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans&display=swap');

* {
    margin: 0;
    padding: 0;

}

/* Body */

body {
    background-color: white;
    font-family: 'Alegreya Sans', sans-serif;
}

/* Header */

.logo {
    width: 150px;
}

.card-title,
p {
    color: #361112;
}

/* Main */

main {
    margin: 20px;
    padding: 20px;
}

h1 {
    text-align: center;
    color: #361112;
    margin: 20px;
}

h2 {
    text-align: left;
    color: #361112;
  }

h3 {
    text-align:left;
    color: #361112;
    margin: 20px;
}

/* Productos */

.noBorder {
    border: none;
}

.btnCarrito {
    background-color: #c35c5f;
    color: #F9F1F3;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 16px;
    font-family: "Alegreya Sans", sans-serif;
    cursor: pointer;
}

.btnCarrito:hover {
    background-color: #c97a7d;
}

.btnCompra {
    background-color: #97191D;
    color: #F9F1F3;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    width:150px;
    font-size: 16px;
    font-family: "Alegreya Sans", sans-serif;
    cursor: pointer;
}

.btnCompra:hover {
    background-color: #c97a7d;
}

.precio {
    font-weight: bold;
}